/*@import fonts from fonts.css*/
@import url(./fonts.css);

/*@import _variables */
@import url(./partials/_variable.css);

/* @import _global styling*/
@import url(./partials/_global.css);

/*start navigation*/
.header_area .main_menu .navbar .navbar-brand{
    padding: 0 0rem 0 0rem; 
}
.navbar-collapse{
    margin-left: 28vw;
}
.header_area .main_menu .navbar .navbar-brand .logo{
    margin-right: 5%;
}
.header_area .main_menu .navbar .nav-link{
    font-family: var(--monospace);
    font-weight: bold;
    color: black; 
}
.header_area .main_menu .navbar-custom {
    background-color: #d7e7ee 
}

.header_area .main_menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main_menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/*end navigation*/

/* start banner Area */

/* .site-main .site-banner {
    background: url(../img/banner/home-banner-3.jpg) no-repeat;
} */

.site-main .site-banner .site-title h3{
    padding-top: 10%;
    font-weight: 500;
}


.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    margin-top: 3rem;
    margin-left: 5vw;
    width: 20rem;
    border-radius: 1.5rem;
}

.about-image > img{
    border-radius: 1.5vh;
    margin: 5vw 2vh 2vh 5vw;
}

@media only screen and (max-width: 560px) {
    .about-image > img{
        max-width: 87%;
    }
    

}
/* end banner Area */