/*@import fonts from fonts.css*/
@import url(./fonts.css);

/*@import _variables */
@import url(./partials/_variable.css);

/* @import _global styling*/
@import url(./partials/_global.css);

body{
    scroll-behavior: smooth;
}

/* start custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
    z-index: 5;
}
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* end custom scrollbar */

/* start particle background */
canvas{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 100%;
    z-index: -1;
}

#particle-js{
    position: relative;
    height: 100%;
    width: 100%;
}
/* end particle background */

/* start preloader */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:3;
  }

  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 4s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 4s infinite ease-in;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
/* end preloader */

/*start navigation*/
.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
}


.header_area .main_menu .navbar .navbar-brand{
    width: 43%;
}
.header_area .main_menu .navbar .nav-link{
    font-family: var(--monospace);
    font-weight: bold;
    color: black; 
}
.header_area .main_menu .navbar-custom {
    background-color: #d7e7ee;
}

.header_area .main_menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main_menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/*end navigation*/

/* start banner area */
.site-main{
    margin-top: 6.4%;
}
.typed-text{
    white-space: wrap;
    line-height: 1.5em;
}

/* .site-main .site-banner {
    background: url(../img/banner/home-banner-3.jpg) fixed no-repeat;
} */

.site-main .site-banner .site-title h3{
    padding-top: 10%;
    font-weight: 500;
}

.site-main .site-banner .site-title h1{
    font-size: 4.5rem;
    word-spacing: -3vmin;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    margin-top: 3rem;
    width: 25rem;
    border-radius: 1.5rem;
}

.about-image > img{
    border-radius: 1.5vh;
}

@media only screen and (max-width: 560px) {
    .about-image > img{
        margin-top: 20%;
    }
    .site-main{
        margin-top: 20%;
    }
    .typed-text {
        height: 3em;
    }
}
/* end banner area */

/* start about area */

.site-main .about-area .about-title .paragraph > p{
    padding: 0 0;
}

@media only screen and (min-width: 640px) {
    .site-main .about-area{
        padding: 0.1rem 0rem;
    }
    .site-main .about-area .about-title h2 > span{
        display: block;
        letter-spacing: 21px;
    }
}
.socials{
    font-size: xx-large;
    margin:0 0 1rem 1rem;
}
/* end about area */

/* Experience Area */ 
.site-main .experience-area{
    margin-top: 5rem;
    margin-bottom: 10rem;
} 
.site-main .experience-area .card{
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.site-main .experience-area .card-img-top{
    padding: 0%;
    align-self: center;
}

.site-main .experience-area .title-h2{
    text-align: center;
} 
@media only screen and (max-width: 720px) {
    .site-main .experience-area .card{
        margin-left: 5%;
        margin-right: 5%;
    }
}
/* End Experience Area */ 

/* Project Area */ 

iframe{
    border-radius: 10px;
}

.my-project{
    text-align: center;
}

.site-main .project-area{
    padding: 1rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--monospace);
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--monospace);
}

.site-main .project-area .grid .our-project .img .img-fluid{
    height: 20rem;
}

/* End Project Area */ 

/* Achievements Area */ 
.site-main .achievements-area{
    margin-top: 5rem;
    margin-bottom: 10rem;
} 
.site-main .achievements-area .card{
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.site-main .achievements-area .card-img-top{
    padding: 1rem;
    align-self: center;
}

.site-main .achievements-area .title-h2{
    text-align: center;
} 
@media only screen and (max-width: 560px) {
    .site-main .achievements-area .card{
        margin-left: 10%;
        margin-right: 10%;
    }
}
/* End Achievements Area */ 

/* Start Footer Area */ 
.footer-area .visitor-counter{
    text-align: center;
    font-family: var(--monospace);
}
/* End Footer Area */ 
