/* Preloader Area */
body {
    background: #3c284a;
  }
  body .loading-container {
    position: absolute;
    top: 48%;
    left: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
  body .loading-container .loading-circle {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  body .loading-container .loading-circle:nth-child(1), body .loading-container .loading-circle:nth-child(3), body .loading-container .loading-circle:nth-child(5) {
    background-color: #ff421d;
    -webkit-animation: bounce 500ms infinite;
            animation: bounce 500ms infinite;
  }
  body .loading-container .loading-circle:nth-child(2), body .loading-container .loading-circle:nth-child(4), body .loading-container .loading-circle:nth-child(6) {
    background-color: #ff6536;
    -webkit-animation: bounceSecondary 500ms infinite;
            animation: bounceSecondary 500ms infinite;
  }
  
  @-webkit-keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  @-webkit-keyframes bounceSecondary {
    0%, 100% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0px);
    }
  }
  @keyframes bounceSecondary {
    0%, 100% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(0px);
    }
  }
/* End Preloader Area */


*, *::before, *::after{
    box-sizing: border-box;
    font-family: Arial;
}
body{
    background-color: #333;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 7.5vmin;
    overscroll-behavior: contain;
    overflow-y: hidden;
}

#game-board{
    display:grid;
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    background-color: #CCC;
    gap: var(--cell-gap);
    border-radius: 1vmin;
    padding: var(--cell-gap);
    position: relative;
}
.cell{
    background-color: #AAA;
    border-radius: 1vmin;
}

.tile{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    background-color: red;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    background-color: hsl(0,100%,var(--background-lightness));
    color:hsl(0, 25%, var(--text-lightness));
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

@keyframes show {
    0%{
        opacity: 0.5;
        transform: scale(0 )
    }    
}
